TELEGRAMM_TOKEN=Miumiumiu
DISCORD_TOKEN=Miumiumiu1
SQLALCHEMY_DATABASE_URI = ''

MYSQL_ROOT_PASSWORD=pass
MYSQL_DATABASE=bot_db
MYSQL_USER=bot_user
MYSQL_PASSWORD=bot_password

RABBITMQ_USER=123
RABBITMQ_PASSWORD=123